.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
ul {
  list-style-type: none;
}
